doctype html
html(lang='en')
  head
    base(href=location.href.split("/")[0]+":"+port)
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Kiosk Display - #{config_data.location}

    link#themeLink(rel='stylesheet' href=`/stylesheets/theme-${layout.theme}.css`)
    link(rel='stylesheet' href='/stylesheets/desktop.css')
    link(rel='stylesheet' href='/stylesheets/desktop.anim.css')
  body.fade
    #brightnessFilter(style=`background-color: rgba(10, 10, 10, ${1 - layout.background_opacity / 100})`)

    nav#header
      button.HOME(onclick="location.href = '/desktop'") RETURN TO DISPLAY
      a.navLink(href="/desktop/layout") Change Layout
      .dropdown.navLink(style="padding-bottom: 0;") Data Analytics
        .content(style="margin-top: 7px;")
          div
            a.navLink.item(href="/desktop/data/gradient") Gradient Visualizer
          //div
            a.navLink.item(href="/desktop/data/logs") Event Logs
          div
            a.navLink.item(href="/desktop/data/reports") Report Generator
      a.navLink(href="/desktop/data/timeline") Timeline

    #display(style="visibility: visible")
      //.bar
      #table(style="width: 100vw; height: 100%; margin-top: 2rem")
        //.row.head
          div(style="width: 10%") Kiosk:
          div(style="width: 10%") Device:
        .row
          div(style="width: 8%") 06-02-2023 10:34
          div(style="width: 8%") AMS3AKRC23
          div(style="width: 5%") BTP1.1
          div(style="width: 79%") conn_status changed from 2 to 4
        .row
        .row
      #footer
        .flexBar(style="display: inline-flex; gap: 0.25rem; margin: 0.25rem; width: fit-content")

    #alertBox
      h2
      h4
      .flexBar
      .blockActions

    #templates(style="display: none")
      table
        tr#app_5Row
          td.name
          td.time
      #segment.segment
        .flexBar
          h3
          h4 test
        .content
          div
        h5 Last seen: 

    #data_storage(data-port=port data-config_data=config_data data-misc_data=misc_data style="display: none")

    script(src='/javascripts/general-functions.js')
    script(src='/javascripts/desktop-data-logs.js')

    style.
      .row {
        background-color: var(--gray20);
        border: var(--border);
        display: flex;
        height: 2rem;
        margin-left: 1rem;
        margin-top: -1px;
        opacity: 1;
        padding: 0.5rem;
        width: calc(100vw - 3rem);

        & div:not(.last) {
          border-right: var(--border);
          color: var(--text-color1);
          padding-top: 3px;
          font-size: 1.5rem;
          font-weight: bold;
          text-indent: 0.5rem;
        }
      }

      .row.head {
        margin: 1rem 0 0.5rem 1rem
      }