doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Kiosk Info - #{config_data.location}

    link#themeLink(rel='stylesheet' href=`/stylesheets/theme-${layout.theme}.css`)
    link(rel='stylesheet' href='/stylesheets/desktop.css')
    link(rel='stylesheet' href='/stylesheets/desktop.anim.css')
  body.fade
    #brightnessFilter(style=`background-color: rgba(10, 10, 10, ${1 - layout.background_opacity / 100})`)

    nav#header
      button.HOME(onclick="location.href = '/desktop'") RETURN TO DISPLAY
      a.navLink(href="/desktop/layout") Change Layout
      .dropdown.navLink(style="padding-bottom: 0;") Data Analytics
        .content(style="margin-top: 7px;")
          div
            a.navLink.item(href="/desktop/data/gradient") Gradient Visualizer
          //div
            a.navLink.item(href="/desktop/data/logs") Event Logs
          div
            a.navLink.item(href="/desktop/data/reports") Report Generator
      a.navLink(href="/desktop/data/timeline") Timeline
      //a.navLink(href="/desktop/") Link 2
      //a.navLink(href="/desktop/") Link 3

      div#hookT1S.hook_static(data-alt_align="start" style="transition: box-shadow 0.3s ease")
        .flexBar(style="margin: 10px 0 0 5px; width: fit-content")
          select.i_type(style="margin-right: 5px" onchange="app_iHandler(this.parentNode)")
            option(value="" selected disabled) Select Datatype
            option(value="coupons_printed") Coupons Printed
            option(value="tags_printed") Tags Printed
            option(value="paper_jams") Paper Jams (inverted)
          select.i_time(onchange="app_iHandler(this.parentNode)")
            option(value="" selected disabled) Select Time window
            option(value="last_24h") Last 24h
            option(value="last_Week") Last 7d
            option(value="last_Month") Last 30d
            option(value="this_Week") Current Week
            option(value="this_Month") Current Month
      div#hookT2S.hook_static(name="gradient" data-alt_align="start" style=`background: linear-gradient(to right, rgb(${layout.gradient_start || "255, 0, 0"}), rgb(${layout.gradient_end || "0, 255, 0"}))`)
        .flexBar
          div
            p#min_data(style="margin-right: 15rem" onclick="this.parentNode.querySelector('input').click()")
            input(name="gradient_start" type="color" oninput="updateGradient(this)" onchange="refreshGradient()")
          div
            p#max_data(onclick="this.parentNode.querySelector('input').click()")
            input(name="gradient_end" type="color" oninput="updateGradient(this)" onchange="refreshGradient()")
      //form#login(onsubmit="testPassword(this.parentNode.querySelector('input').value, event)")
        input(type="password" placeholder=" Log in by entering the site key" required)
        input#loginButton(type="submit" value="\u23CE")
      //button#logout(onclick="testPassword('LOGOUT')") Click here to logout

    #display(style="visibility: hidden")
      .bar
      #container
      #overlay.clickToClose
        #devices.data
          h2 Connected Devices
        .info.clickToClose
          .banner
            h1
          .map
        #applications.data
          h2 Applications
      #footer
        .flexBar(style="display: inline-flex; gap: 0.25rem; margin: 0.25rem; width: fit-content")
          button.appButton#app_AButton(onclick="openCloseApp('app_A', this)" class=`${layout.app_A_display === "block" ? "selected" : ""}`) !
          button.appButton#app_5Button(onclick="openCloseApp('app_5', this)" class=`${layout.app_5_display === "block" ? "selected" : ""}`) ⚠
          button.appButton#app_TButton(onclick="openCloseApp('app_T', this)" class=`${layout.app_T_display === "block" ? "selected" : ""}`) ⧖
          button.appButton#app_HsButton(onclick="openCloseApp('app_Hs', this)" class=`${layout.app_Hs_display === "block" ? "selected" : ""}`) %
          //- button.appButton#app_iButton(title="Infographic Overlay" onclick="openCloseApp('app_i', this)" class=`${layout.app_i_display === "block" ? "selected" : ""}`) i
          //- button.appButton#app_RButton(onclick="openCloseApp('app_R', this)" class=`${layout.app_R_display === "block" ? "selected" : ""}`) R

        div#hookL.hook(data-alt_align="end")
        
        h6#alert THIS PAGE DOES NOT UPDATE AUTOMATICALLY

        div#hookR.hook(data-alt_align="end")
    
    #app_5.app
      .header Reported Problems
        button(onclick="openCloseApp(this.parentNode.parentNode.id, document.getElementById(this.parentNode.parentNode.id+'Button'), true)") X
      p(style=`color: var(--text-color2)`) Reported Problems is disabled
    #app_Hs.app
      .header
        button(onclick="openCloseApp(this.parentNode.parentNode.id, document.getElementById(this.parentNode.parentNode.id+'Button'), true)") X
      p.health_score(style=`color: var(--text-color2)`) Health Score is disabled
    #app_T.app
      .header
        button(onclick="openCloseApp(this.parentNode.parentNode.id, document.getElementById(this.parentNode.parentNode.id+'Button'), true)") X
      p.last_check(style=`color: var(--text-color2)`) Last check is disabled
    #app_A.app
      .header Alert options
        button(onclick="openCloseApp(this.parentNode.parentNode.id, document.getElementById(this.parentNode.parentNode.id+'Button'), true)") X
      p(style=`color: var(--text-color2)`) Alert options is disabled
    //- #app_i.app
    //-   .header Display Info
    //-     button(onclick="openCloseApp(this.parentNode.parentNode.id, document.getElementById(this.parentNode.parentNode.id+'Button'), true)") X
    //-   .flexBar(style="margin: 10px 0 0 5px; width: fit-content")
    //-     select.i_type(style="margin-right: 5px" onchange="app_iHandler(this.parentNode)")
    //-       option(value="" selected disabled) Select Datatype
    //-       option(value="coupons_printed") Coupons Printed
    //-       option(value="tags_printed") Tags Printed
    //-       option(value="coupons_printed + tags_printed") Coupons + Tags Printed
    //-     select.i_time(onchange="app_iHandler(this.parentNode)")
    //-       option(value="" selected disabled) Select Time window
    //-       option(value="last_24h") Last 24h
    //-       option(value="last_Week") Last 7d
    //-       option(value="last_Month") Last 30d
    //-       option(value="this_Week") Current Week
    //-       option(value="this_Month") Current Month

    #alertBox
      h2
      h4
      .flexBar
      .blockActions

    #segment_CM.contextMenu
      button.title
      button Open analytics
      button(name="online") Change to Online

    .tooltip(for="tile")
      .tooltip-content Date
      .tooltip-arrow

    #templates(style="display: none")
      table
        tr#app_5Row
          td.name
          td.time
      #segment.segment
        .flexBar
          h3
          h4
        .content
          div
        h5 Last seen: 

    #data_storage(data-port=port data-config_data=config_data data-status_database=status_database data-misc_data=misc_data style="display: none")

    style.
      :root {
        --tag-size: #{layout.tag_size / 20 + "rem"};
        --tile-size: #{layout.tile_size / 20 + "rem"};
        --label-locations: #{layout.label_locations === "true" ? "inline-block" : "none"};
        --identifier-opacity: 0;
      }

      #app_5 {
        display: #{layout.app_5_display || "none"};
        height: #{layout.app_5_height || "fit-content"};
        left: #{layout.app_5_left || "10px"};
        bottom: #{layout.app_5_bottom || "calc(var(--footer-height) + 10px)"};
        width: #{layout.app_5_width || "fit-content"};
      }

      #app_Hs {
        display: #{layout.app_Hs_display || "none"};
        height: #{layout.app_Hs_height || "fit-content"};
        left: #{layout.app_Hs_left || "10px"};
        bottom: #{layout.app_Hs_bottom || "calc(var(--footer-height) + 10px)"};
        width: #{layout.app_Hs_width || "fit-content"};
      }

      #app_T {
        display: #{layout.app_T_display || "none"};
        height: #{layout.app_T_height || "fit-content"};
        left: #{layout.app_T_left || "10px"};
        bottom: #{layout.app_T_bottom || "calc(var(--footer-height) + 10px)"};
        width: #{layout.app_T_width || "fit-content"};
      }

      #app_A {
        display: #{layout.app_A_display || "none"};
        height: #{layout.app_A_height || "fit-content"};
        left: #{layout.app_A_left || "10px"};
        bottom: #{layout.app_A_bottom || "calc(var(--footer-height) + 10px)"};
        width: #{layout.app_A_width || "fit-content"};
      }

      #app_i {
        display: #{layout.app_i_display || "none"};
        height: #{layout.app_i_height || "fit-content"};
        left: #{layout.app_i_left || "10px"};
        bottom: #{layout.app_i_bottom || "calc(var(--footer-height) + 10px)"};
        width: #{layout.app_i_width || "fit-content"};
      }

      .kiosk {
        background-image: url(/images/tileOverlay.png)
      }

    script(src='/javascripts/general-functions.js')
    script(src='/javascripts/desktop-data-gradient.js')
    script(src='/javascripts/desktop-home.anim.js')