doctype html
html
  head
    base(href=baseURL)
    link(rel='stylesheet' href=`stylesheets/theme-${layout.theme}.css`)
    link(rel='stylesheet' href='stylesheets/login.css')
  body
    nav#header
      button.HOME(onclick="location.href = ''") MAIN MENU

    #loginBar
      h1 Enter the #{type} key to gain access:
      form(onsubmit=`submitForm(event, '/login/${type}')`)
        input#keyInput(type="password" name="key")
        input(type="submit")

    #data_storage(data-port=port)

    script.
      const port = document.getElementById("data_storage").dataset.port;
      const base = location.href.split("/")[0]+"/"+port;

      const submitForm = (event, url) => {
        event.preventDefault();

        const putData = {
          key: document.getElementById("keyInput").value
        };

        fetch(base+url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', // Set the content type to form data
            },
            body: JSON.stringify(putData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.access) {
              location.href = base+"/"+url.split("/")[url.split("/").length - 1];
            } else {
              location.reload();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
      }