doctype html
html(lang='en')
  head(data-page=pageType)
    base(href=baseURL)
    link(rel='stylesheet' href=`/stylesheets/theme-${layout.theme}.css`)
    link(rel='stylesheet' href='/stylesheets/settings.css')
    link(rel='stylesheet' href='/stylesheets/elements.css')
  body
    nav
      button.HOME(onclick="location.href = '/settings'") HOME
      a.navLink.selected(href="/settings/grouping") Display Groups
      //a.navLink(href="/settings/layout") Display Layout
      a.navLink(href="/settings/apps") Application Naming
      a.navLink(href="/settings/database/conditions") Priority Conditions
      a.navLink(href="/settings/database/filters") Database Filters
      a.navLink(href="/settings/status") Status Messages
      a.navLink(href="/settings/downloads") Downloads
      //a.navLink(href="/settings/schedules") Schedules
      form#login(onsubmit="testPassword(this.parentNode.querySelector('input').value, event)")
        input(type="password" placeholder=" Log in by entering the site key" required)
        input#loginButton(type="submit" value="\u23CE")
      button#logout(onclick="testPassword('LOGOUT')") Click here to logout

    #display
      .flexBar
        h1 Location: 
          span.t-stress= location
        #syncType.chip-data
      #hrefBar >

      #information
        h2.header Information for 
          span.t-stress= name
          | :

      #locations(style="display: none")
        #infoGrid.cardView
          button#banner.gridTile.locationImage(style=`background-image: url(/images/${name}.BANNER.jpg); display: none;`)
            #progressBlock1.progressBlock(style="height: 100px; margin: -13px 0 0 -20px;")
            h3 Group Banner
            p= write === "true" ? "(Click to modify)" : "‎"
            input(type="file" accept="image/*" name=".BANNER.jpg" hidden disabled)
        form(onsubmit="submitForm(event, this, '/update/config.json/groups/'+indices[0]+'/name')" style=`display: ${write === "true" ? "block" : "none"}`)
          h3(style="color: var(--text-color1); margin-top: -2px") Rename #{name} to...
          input(type="text" name="value" placeholder="Start typing here..." required)
          input(type="submit" style="margin-top: 15px")
          
        h2.header Kiosk Locations of 
          span.t-stress= name
          | :
        #locationGrid.cardView
        form(onsubmit="submitForm(event, this, '/update/config.json/groups/'+indices[0]+'/locations/'+data.groups[indices[0]].locations.length)" style=`display: ${write === "true" ? "block" : "none"}`)
          h3(style="color: var(--text-color1); margin-top: -2px") Add Location:
          input(type="text" name="name" placeholder="Start typing here..." required)
          input(type="submit" style="margin-top: 15px")
          input(type="hidden" name="selectors" value="[]")

      #selectors(style="display: none")
        #infoGrid.cardView
          button#banner.gridTile.locationImage(style=`background-image: url(/images/${name}.BANNER.jpg); display: none;`)
            #progressBlock1.progressBlock(style="height: 100px; margin: -13px 0 0 -20px;")
            h3 Location Banner
            p= write === "true" ? "(Click to modify)" : "‎"
            input(type="file" accept="image/*" name=".BANNER.jpg" hidden disabled)

          button#map.gridTile.locationImage(style=`background-image: url(/images/${name}.MAP.jpg); display: none;`)
            #progressBlock2.progressBlock(style="height: 100px; margin: -13px 0 0 -20px;")
            h3 Map of Location
            p= write === "true" ? "(Click to modify)" : "‎"
            input(type="file" accept="image/*" name=".MAP.jpg" hidden disabled)
        form(onsubmit="submitForm(event, this, '/update/config.json/groups/'+indices[0]+'/locations/'+indices[1]+'/name')" style=`display: ${write === "true" ? "block" : "none"}`)
          h3(style="color: var(--text-color1); margin-top: -2px") Rename #{name} to...
          input(type="text" name="value" placeholder="Start typing here..." required)
          input(type="submit" style="margin-top: 15px")

        h2.header Kiosk Selectors:
        #selectorGrid.cardView
        form(onsubmit="submitForm(event, this, '/update/config.json/groups/'+indices[0]+'/locations/'+indices[1]+'/selectors/'+data.groups[indices[0]].locations[indices[1]].selectors.length)" style=`display: ${write === "true" ? "block" : "none"}`)
          h3(style="color: var(--text-color1); margin-top: -2px") Add Selector:
          input(type="text" name="value" placeholder="Start typing here..." oninput="this.value = this.value.toUpperCase()" required)
          input(type="submit" style="margin-top: 15px")

    #alertBox
        h2
        h4
        .flexBar
        .blockActions

    #tile_CM.contextMenu
      button.title
      button(name="open") Open
      button(name="remove") Remove from configuration

    script(src='/javascripts/settings-grouping.js')
    script(src='/javascripts/settings-functions.js')

    #templates(style="display: none")
      button#gridTile.gridTile
        .flexBar
          h3
          .chip(style="display:none") Conflict
        p

    #data_storage(data-port=port data-config_data=config_data style="display: none" data-write=write)