doctype html
html(lang='en')
  head(data-page=pageType)
    base(href=location.href.split("/")[0]+":"+port)
    link(rel='stylesheet' href=`/stylesheets/theme-${layout.theme}.css`)
    link(rel='stylesheet' href='/stylesheets/settings.css')
    link(rel='stylesheet' href='/stylesheets/elements.css')
  body
    nav
      button.HOME(onclick="location.href = '/settings'") HOME
      a.navLink(href="/settings/grouping") Display Groups
      //a.navLink(href="/settings/layout") Display Layout
      a.navLink(href="/settings/apps") Application Naming
      a.navLink(href="/settings/database/conditions") Priority Conditions
      a.navLink(href="/settings/database/filters") Database Filters
      a.navLink.selected(href="/settings/status") Status Messages
      a.navLink(href="/settings/downloads") Downloads
      //a.navLink(href="/settings/schedules") Schedules
      form#login(onsubmit="testPassword(this.parentNode.querySelector('input').value, event)")
        input(type="password" placeholder=" Log in by entering the site key" required)
        input#loginButton(type="submit" value="\u23CE")
      button#logout(onclick="testPassword('LOGOUT')") Click here to logout

    #display
      .flexBar
        h1 Location: 
          span.t-stress= location
        #syncType.chip-data
      #hrefBar

      #codes(style="display: none")
        h2.header Status Codes of 
          span.t-stress
          | :
        #codeGrid.cardView
        h2.header(style=`display: ${write === "true" ? "block" : "none"}`) Add Status Code:
        form(style=`margin-top: 10px; display: ${write === "true" ? "block" : "none"}` onsubmit="submitForm(event, this, '/update/config.json/status_messages/'+indices[0]+'/codes/'+this.querySelector('input[type=number]').value)")
          .flexBar(style="margin-top: 10px")
            h3(style="color: var(--text-color1); margin-top: -2px") Code:
            input(type="number" style="width: 4rem" value=0 required)
          .flexBar(style="margin-top: 10px")
            h3(style="color: var(--text-color1); margin-top: -2px") Icon:
            .flexBar.iconButtons(style="margin-left: 5px")
              input(type="button" data-urgency="-1" value="游릭")
              input(type="button" data-urgency="0" value="游댯")
              input(type="button" data-urgency="1" value="游리")
              input(type="button" data-urgency="2" value="游릮")
              input(type="button" data-urgency="3" value="游")
              input(type="button" data-urgency="4" value="游댮")
              input(type="button" data-urgency="5" value="丘멆잺")
          .flexBar(style="margin-top: 10px")
            h3(style="color: var(--text-color1); margin-top: -2px") Default message:
            input(type="text" name="default" placeholder="Enter a message..." required)
          input(type="submit" style="margin-top: 15px")
          input(type="hidden" name="urgency_level")
          input(type="hidden" name="icon")
          input(type="hidden" name="messages" value="[]")

      #messages(style="display: none")
        h2.header Status Messages for 
          span.t-stress
          | :
        form(style=`margin-top: 10px; display: ${write === "true" ? "block" : "none"}` onsubmit="submitForm(event, this, '/update/config.json/status_messages/'+indices[0]+'/codes/'+indices[1])")
          .flexBar(style="margin-bottom: 10px")
            h3(style="color: var(--text-color1); margin-top: -2px") Change Icon:
            .flexBar.iconButtons(style="margin: 0 10px 0 10px; width: fit-content")
              input(type="button" data-urgency="-1" value="游릭")
              input(type="button" data-urgency="0" value="游댯")
              input(type="button" data-urgency="1" value="游리")
              input(type="button" data-urgency="2" value="游릮")
              input(type="button" data-urgency="3" value="游")
              input(type="button" data-urgency="4" value="游댮")
              input(type="button" data-urgency="5" value="丘멆잺")
            input(type="submit")
          input(type="hidden" name="urgency_level")
          input(type="hidden" name="icon")
        #messageGrid.cardView
        form(style=`margin-top: 10px; display: ${write === "true" ? "block" : "none"}` onsubmit="submitForm(event, this, '/update/config.json/status_messages/'+indices[0]+'/codes/'+indices[1]+'/messages/'+data.status_messages[indices[0]].codes[indices[1]].messages.length)")
          h3(style="color: var(--text-color1); margin-top: -2px") Add Status message:
          input(type="text" name="value" placeholder="Start typing here..." required)
          input(type="submit" style="margin-top: 15px")

    #alertBox
      h2
      h4
      .flexBar
      .blockActions

    #tile_CM.contextMenu
      button.title
      button(name="open") Open
      button(name="remove") Remove from configuration

    script(src='/javascripts/settings-status.js')
    script(src='/javascripts/settings-functions.js')

    #templates(style="display: none")
      button#gridTile.gridTile
        .flexBar
          h3
          .chip(style="display:none") Conflict
        p

    #data_storage(data-port=port data-config_data=config_data style="display: none" data-write=write)