button.appButton#app_AButton(class=`${cookies.app_A_display === "block" ? "selected" : ""}`) !
button.appButton#app_5Button(class=`${cookies.app_5_display === "block" ? "selected" : ""}`) ⚠
button.appButton#app_TButton(class=`${cookies.app_T_display === "block" ? "selected" : ""}`) ⧖
button.appButton#app_HsButton(class=`${cookies.app_Hs_display === "block" ? "selected" : ""}`) %
button.appButton#app_SButton(class=`${cookies.app_S_display === "block" ? "selected" : ""}`) S